---
apiVersion: acid.zalan.do/v1
kind: postgresql
metadata:
  name: infra-main-cluster
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
spec:
  teamId: infra
  volume:
    size: 10Gi
  numberOfInstances: 1

  # users: name -> permissions (usually [])
  users:
    fraternity.frat_dump: []
    fraternity.frat_logs: []
    fraternity.frat_shop: []
    cocfr.clash_birthday: []
    cocfr.clash_moderation: []
    meal-planner.meal_planner_api: []
    authentik.authentik: []
    gift-viewer.gift_viewer: []


  # databases: name -> owner
  databases:
    frat_dump: fraternity.frat_dump
    frat_logs: fraternity.frat_logs
    frat_shop: fraternity.frat_shop
    meal_planner_api: meal-planner.meal_planner_api
    clash_birthday: cocfr.clash_birthday
    clash_moderation: cocfr.clash_moderation
    authentik_db: authentik.authentik
    gift_viewer: gift-viewer.gift_viewer

  resources:
    requests:
      cpu: "2"
      memory: 8Gi
    limits:
      cpu: "4"
      memory: 16Gi

  postgresql:
    version: "17"
    parameters:
      max_connections: "500"
      shared_buffers: "4GB"
      effective_cache_size: "12GB"
      maintenance_work_mem: "1GB"

  additionalVolumes:
    - name: pgbackup
      mountPath: /home/postgres/pgbackup
      volumeSource:
        emptyDir: {}
