apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: postgres-operator
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://opensource.zalando.com/postgres-operator/charts/postgres-operator
    chart: postgres-operator
    targetRevision: 1.15.1
    helm:
      values: |
        configKubernetes:
          enable_cross_namespace_secret: true
        nodeSelector:
          node-role.kubernetes.io/master: "true"
  destination:
    namespace: postgres-operator
    name: in-cluster
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
